{% extends "layout.html" %} {% block title %} Dashboard page {% endblock title%}
{% block content %}

<section class="container mx-auto pt-10">
  <div class="grid gap-5 sm:grid-cols-2 md:grid-cols-4 px-2 sm:px-0">
    <div
      class="shadow-md w-full justify-between items-center flex py-2 px-5 rounded"
    >
      <div class="space-y-2">
        <p class="uppercase text-md text-nowrap font-medium text-gray-500">
          Total participants
        </p>
        <h1 class="font-bold text-4xl">10</h1>
        <p class="text-sm text-gray-600 font-medium">Last month</p>
      </div>
      <div class="">
        <button class="bg-green-200 p-2 text-green-600 rounded-full">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z"
            />
          </svg>
        </button>
      </div>
    </div>

    <div
      class="shadow-md w-full justify-between items-center flex py-2 px-5 rounded"
    >
      <div class="space-y-2">
        <p class="uppercase text-md text-nowrap font-medium text-gray-500">
          Total events
        </p>
        <h1 class="font-bold text-4xl">10</h1>
        <p class="text-sm text-gray-600 font-medium">Last month</p>
      </div>
      <div class="">
        <button class="bg-blue-200 p-2 text-blue-600 rounded-full">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"
            />
          </svg>
        </button>
      </div>
    </div>

    <div
      class="shadow-md w-full justify-between items-center flex py-2 px-5 rounded"
    >
      <div class="space-y-2">
        <p class="uppercase text-md text-nowrap font-medium text-gray-500">
          Total upcoming events
        </p>
        <h1 class="font-bold text-4xl">10</h1>
        <p class="text-sm text-gray-600 font-medium">Last month</p>
      </div>
      <div class="">
        <button class="bg-yellow-200 p-2 text-yellow-600 rounded-full">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z"
            />
          </svg>
        </button>
      </div>
    </div>

    <div
      class="shadow-md w-full justify-between items-center flex py-2 px-5 rounded"
    >
      <div class="space-y-2">
        <p class="uppercase text-md text-nowrap font-medium text-gray-500">
          Total past events.
        </p>
        <h1 class="font-bold text-4xl">10</h1>
        <p class="text-sm text-gray-600 font-medium">Last month</p>
      </div>
      <div class="">
        <button class="bg-pink-200 p-2 text-pink-600 rounded-full">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
