{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}"> <link
    rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <body>
    <header class="border-green-300 border-b text-black">
      <div class="container mx-auto px-2 sm:px-0">
        <div class="w-full flex justify-between items-center">
          <div class="text-center">
            <h1 class="uppercase text-xl font-bold">eventicity</h1>
          </div>

          {% comment %} open mobile menu button {% endcomment %}
          <div class="md:hidden items-center flex py-3">
            <button
              class="ring-1 p-1 ring-black rounded-md"
              id="menuOpenButton"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-7"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25"
                />
              </svg>
            </button>
          </div>
          {% comment %} menu items {% endcomment %}
          <div class="py-3 hidden md:flex">
            <ul class="flex items-center gap-5">
              <li>
                <a
                  href="{% url 'events' %}"
                  class="text-[16px] font-medium capitalize text-black hover:text-green-600 transition-all ease-in-out duration-200"
                  >events</a
                >
              </li>
              <li>
                <a
                  href="{% url 'add-event' %}"
                  class="text-[16px] font-medium capitalize text-black hover:text-green-600 transition-all ease-in-out duration-200"
                  >add event</a
                >
              </li>
              <li>
                <a
                  href="{% url 'participants' %}"
                  class="text-[16px] font-medium capitalize text-black hover:text-green-600 transition-all ease-in-out duration-200"
                  >Participants</a
                >
              </li>
              <li>
                <a
                  href="{% url 'createParticipant' %}"
                  class="text-[16px] font-medium capitalize text-black hover:text-green-600 transition-all ease-in-out duration-200"
                  >add Participant</a
                >
              </li>
              <li>
                <a
                  href="{% url 'categories' %}"
                  class="text-[16px] font-medium capitalize text-black hover:text-green-600 transition-all ease-in-out duration-200"
                  >categories</a
                >
              </li>
              <li>
                <a
                  href="{% url 'createCategory' %}"
                  class="text-[16px] font-medium capitalize text-black hover:text-green-600 transition-all ease-in-out duration-200"
                  >add Category</a
                >
              </li>

              <li>
                <a
                  href="{% url 'dashboard' %}"
                  class="text-[16px] font-medium capitalize text-black hover:text-green-600 transition-all ease-in-out duration-200"
                  >Dashboard</a
                >
              </li>
            </ul>
          </div>
        </div>

        {% comment %} mobile menu items {% endcomment %}
        <div class="py-3 hidden md:hidden" id="menuItems">
          <ul class="flex flex-col items-center gap-5">
            <li>
              <a
                href="{% url 'events' %}"
                class="text-[16px] font-medium capitalize text-black hover:text-green-600 transition-all ease-in-out duration-200"
                >Events</a
              >
            </li>

            <li>
              <a
                href="{% url 'add-event' %}"
                class="text-[16px] font-medium capitalize text-black hover:text-green-600 transition-all ease-in-out duration-200"
                >add Event</a
              >
            </li>
            <li>
              <a
                href="{% url 'participants' %}"
                class="text-[16px] font-medium capitalize text-black hover:text-green-600 transition-all ease-in-out duration-200"
                >Participants</a
              >
            </li>
            <li>
              <a
                href="{% url 'createParticipant' %}"
                class="text-[16px] font-medium capitalize text-black hover:text-green-600 transition-all ease-in-out duration-200"
                >add Participant</a
              >
            </li>
            <li>
              <a
                href="{% url 'categories' %}"
                class="text-[16px] font-medium capitalize text-black hover:text-green-600 transition-all ease-in-out duration-200"
                >categories</a
              >
            </li>

            <li>
              <a
                href="{% url 'createCategory' %}"
                class="text-[16px] font-medium capitalize text-black hover:text-green-600 transition-all ease-in-out duration-200"
                >add Category</a
              >
            </li>

            <li>
              <a
                href="{% url 'dashboard' %}"
                class="text-[16px] font-medium capitalize text-black hover:text-green-600 transition-all ease-in-out duration-200"
                >Dashboard</a
              >
            </li>
          </ul>
        </div>
      </div>
    </header>
    {% comment %} main content {% endcomment %}
    <main>{% block content %}{% endblock content %}</main>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
